<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS},%p,%c,%t,%X{trackingId},%C{0},%M %m%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <logger name="dk.dbc.pgqueue.perftest" level="DEBUG"/>
    <logger name="dk.dbc" level="INFO"/>

    <root>
        <level value="WARN"/>
        <appender-ref ref="stdout"/>
    </root>

</configuration>

